*.yaml
*.yml
*.secret
*[Ss]cratch*
log/
*.log*
temp/
debug/
dask-worker-space/
.ipynb_checkpoints/
.idea/
data/
.DS_Store
*~   
.#*  
*run.sh
isd-history.csv
temp*
venv
.venv
*.py[cod]
*$py.class
*.egg-info
__pycache__/
